// rename this file to env.js.  
// env.js is not uploaded to git repository.

// Replace this private key with your goerli account private key
// To export your private key from Metamask, open Metamask and
// go to Account Details > Export Private Key
// Be aware of NEVER putting real Ether into testing accounts
const GOERLI_PRIVATE_KEY = "<goerli private key>";

module.exports = {
    GOERLI_PRIVATE_KEY: GOERLI_PRIVATE_KEY,
};